---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostRow from "../../components/Blog/PostRow.astro";

const albums = [
    {title: "Nepal", date: "2019-08-01", url: "/photos/nepal"},
]
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout title="Cooper Miller - Photography" description="Cooper Miller's photography">
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">Photography</h1>
    <ul class="w-full">
      {
        albums.map((album) => (
          <PostRow
            title={album.title}
            date={new Date(album.date)}
            url={album.url}
          />
        ))
      }
    </ul>
  </main>
</Layout>
