---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="404" description="Page not found">
  <div class="flex flex-col items-center">
    <h1 class="text-4xl text-white font-bold">404</h1>
    <p class="m-0 text-white text-xl">Page not found</p>
    <br />
    <a
      href="/"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg mb-8"
      >Back</a
    >
  </div>
</BasicLayout>
