---
import Card from "./Card/index.astro";
---

<style>
  a {
    display: block;
  }
  a:hover {
    text-decoration: underline;
  }
</style>

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Other">
  <a class="text-sm">Photography</a>
  <a
    href="https://myanimelist.net/profile/9836ch"
    target="_blank"
    class="text-sm">Anime</a
  >
</Card>
